
<h2>City Council</h2>
{{#council}}

<div data-ward="{{ward}}">
<h3 class="candidate-name">{{name}} ({{ward}})</h3>
<div class="candidate-content">
<p>
    {{#ward}}Ward {{ward}}{{/ward}}
    {{^ward}}At-large candidate{{/ward}}
</p>
<p>
    Party affiliation(s):
    {{#party}}
        <li>{{.}}</li>
    {{/party}}
</p>
{{#url}}
<p><a href="{{url}}" target="_blank">Official site</a></p>
{{/url}}</div>
</div>

{{/council}}

<h2>Mayor</h2>
{{#mayor}}
    <h3 class="candidate-name">{{name}}</h3>
{{/mayor}}

<h2>County Coroner</h2>
{{#coroner}}
    <h3 class="candidate-name">{{name}}</h3>
{{/coroner}}
