<h1>Geneva Election 2015</h1>
<p>The map will show where you are currently and what ward you will be voting
in for city council.</p>

Ballots by ward:
<select id="wardsList">
    <option value="">All</option>
    <option value="1">Ward 1</option>
    <option value="2">Ward 2</option>
    <option value="3">Ward 3</option>
    <option value="4">Ward 4</option>
    <option value="5">Ward 5</option>
    <option value="6">Ward 6</option>
</select>

<div id="candidates">
    {{{candidates}}}
</div>
